{% extends "ui/base.html" %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
        <h4>Administration</h4>
        <table border="2px solid #1C6EA4" style="width:30%">
            <tr>
                <th bgcolor="#D3D3D3" style="text-align:center">Access Rules & Groups</th>
            </tr>
            <tr>
                <th>Groups</th>
            </tr>
            <tr>
                <th>Access</th>
            </tr>
        </table>

    </div>
</div>

{% endblock %}