<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Developer Portal</title>
    <link rel="shortcut icon" href="{% static 'ui/img/title.png' %}" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css"-->
    <!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{% static 'ui/css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    /*.menu__item:hover .submenu {*/
    /*    padding: 0.5rem 0;*/
    /*    width: 9rem;*/
    /*    height: auto;*/
    /*    background: #D3D3D3;*/
    /*    clip: auto;*/
    /*}*/

    /*a {*/
    /*    color: white;*/
    /*    display: inline-block;*/
    /*    text-decoration: none;*/
    /*    font-weight: 400;*/
    /*}*/
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed;z-index: 9999; width: 100%;height: 50px;top: 0; left: 0;">
    <a class="navbar-brand">Developer Portal</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% if authenticated == True %}
            {% if admin == True %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin' %}">Admin</span></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dependency' %}">Dependency</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Swagger</a>
                <div class="dropdown-menu">
                    <a href="{% url 'swaggerview' %}" class="dropdown-item">View</a>
                    <a href="{% url 'swaggeredit' %}" class="dropdown-item">Add/Edit</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">SignIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br><br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Message!</h4>
    <p class="mb-0">{{ message }}</p>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <br>
    {% block body_block %}
    {% endblock %}
</div>

<div style="position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #00a087;
        color: white;
        text-align: center;">
    <p><b>Managed by M. G. T.</b></p>
    <div class="col-lg-12">
        <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
            <span class="tm-current-year">2020</span> LBrands | Developer Portal
        </p>
    </div>
</div>
</body>
</html>
