<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Developer Portal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .submenu {
        position: absolute;
        left: 0;
        padding: 0;
        list-style: none;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
    }

    .menu__item:hover .submenu {
        padding: 0.5rem 0;
        width: 9rem;
        height: auto;
        background: #D3D3D3;
        clip: auto;
    }
</style>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            {# Dev Portal Home Link / Admin Link / Register Link#}
            <li><a class="navbar-brand" href="{% url 'index' %}">Developer Portal</a></li>
            {% if authenticated == True %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="menu__item">
                <a class="menu__link">Admin</a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a class="navbar-link" href="{% url 'group' %}">Groups</a>
                        <a class="navbar-link" href="{% url 'access' %}">Access</a>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
</body>
</html>
