{% extends 'ui/base.html' %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h2>Login here :</h2>
        <form method="post" action="{% url 'login' %}">
<!--            {% csrf_token %}-->
            {# A more "HTML" way of creating the login form#}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username">
<!--            <br>-->
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
<!--            <br>-->
            <input type="submit" name=""  value="Log me in!">
        </form>
    </div>
</div>
{% endblock %}