{% extends "ui/base.html" %}
{% block body_block %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="jumbotron">
        <h2>Register Here</h2>
        <h3>Fill out this form. Its that simple!</h3>
        <form enctype="multipart/form-data" method="POST">
            <table border="1">
                <tr>
                    <th>E-mail address</th>
                    <td>
                        <input type="text" name="email" size="75">
                    </td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>
                        <input type="text" name="username" size="75">
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="text" name="password" size="75"></td>
                </tr>
            </table>
            <br>
            <form action="{% url 'register' %}" method="POST">{% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="" value="Register me!">
            </form>

        </form>
    </div>
</div>
{% endblock %}