{% extends "ui/base.html" %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
<!--        {% if registered %}-->
        <h2>Thank you for registering!</h2>
<!--        {% else %}-->
        <h2>Register Here</h2>
        <h3>Fill out this form. Its that simple!</h3>
        <form enctype="multipart/form-data" method="POST">
            <table border="1">
                <tr>
                    <th>E-mail address</th>
                    <td>
                        <input type="text" name="email" size="30">
                    </td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>
                        <input type="text" name="username" size="30">
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="text" name="email" size="30"></td>
                </tr>
            </table>
            <br>
            <input type="submit" name="" value="Register me!">
        </form>

<!--        {% endif %}-->
    </div>
</div>
{% endblock %}