{% extends 'ui/base.html' %}
{% block body_block %}
<table class="table table-primary">
    <tr><strong>Select project</strong></tr>
    <tr>
        <td>
            <select id="users" name="userlist" class="custom-select">
                {% for project in projects %}
                <option value="{{project}}"
                        selected="selected">
                    {{project|capfirst}}
                </option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tbody>
    </tbody>
</table>

<table class="table table-primary">
    <tr>
        <td>
            <input type="text" class="form-control is-valid" id="inputValid">
        </td>
        <td>
            <button type="button" class="btn btn-outline-warning">View</button>
        </td>
    </tr>
    <tbody>
    </tbody>
</table>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui.css" >
    <style>
        html
        {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }
        *,
        *:before,
        *:after
        {
            box-sizing: inherit;
        }
        body {
            margin:0;
            background: #fafafa;
        }
    </style>
</head>
<body>
<div id="swagger-ui"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui-bundle.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui-standalone-preset.js"> </script>
<script>
    window.onload = function() {
        {% autoescape off %}

        var spec = {{ jcon }} ;
        {% endautoescape %}
        // Build a system
        const ui = SwaggerUIBundle({
            spec: spec,
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        })
        window.ui = ui
    }
</script>
</body>
</html>
<br><br><br><br><br>
{% endblock %}