{% extends 'ui/base.html' %}
{% block body_block %}
<form name="swagger" method="get">
<table class="table table-info">
        <tr>
            <td width="15%" align="center">
                <p><strong>Select project</strong></p>
            </td>
            <td width="60%" align="center">
                <select id="project" name="projectlist" class="custom-select">
                    <option selected="selected">None</option>
                    {% for project in projects %}
                    <option value="{{project}}" {% if project == projname%} selected="selected" {% endif %}>
                        {{project|capfirst}}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td width="15%" align="center">
                <button type="submit" class="btn btn-outline-warning" name="getapipath" value="getapipath">Search
                </button>
            </td>
        </tr>
<!--    </form>-->
    <tbody>
    </tbody>
</table>
<table class="table table-dark">
<!--    <form name="getswagger" method="get">-->
        <tr>
            <td width="15%" align="center">
                <p><strong>Select Path</strong></p>
            </td>
            <td width="60%" align="center">
                <select id="path" name="pathlist" class="custom-select">
                    {% for path in paths %}
                    <option value="{{path}}">
                        {{path}}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td width="15%" align="center">
<!--                <input type="hidden" name="paths" value=displayResult()>-->
                <button type="submit" onclick="value=displayResult()" class="btn btn-outline-info" name="getswagger" value="getswagger">View</button>
            </td>
        </tr>
<!--    </form>-->
    <tbody>
    </tbody>
</table>
</form>
<script>
    function displayResult() {
        var x = document.getElementById("path");
        var txt = "All options: ";
        var i;
        for (i = 0; i < x.length; i++) {
            txt = txt + ";" + x.options[i].value;
        }
        return txt;
    }
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui.css" >
    <style>
        html
        {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }
        *,
        *:before,
        *:after
        {
            box-sizing: inherit;
        }
        body {
            margin:0;
            background: #fafafa;
        }
    </style>
</head>
<body>
<div id="swagger-ui"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui-bundle.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.2.2/swagger-ui-standalone-preset.js"> </script>
<script>
    window.onload = function() {
        {% autoescape off %}

        var spec = {{ jcon }} ;
        {% endautoescape %}
        // Build a system
        const ui = SwaggerUIBundle({
            spec: spec,
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        })
        window.ui = ui
    }
</script>
</body>
</html>
<br><br><br><br><br>
{% endblock %}